<div class="center" *ngIf="spinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!spinner">
    <h2 mat-dialog-title>
        {{ weather.name }}
    </h2>
    <mat-dialog-content class="mat-typography">
        <p>Mensaje: {{ weather.error.message }}</p>
        <p>Codigo: {{ weather.status }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Aceptar</button>
    </mat-dialog-actions>
</div>