<div class="container">
    <h1 mat-dialog-title>Ultimas busquedas</h1>
    <mat-list role="list" *ngIf="messages">
        <mat-list-item *ngFor="let message of messages; let i = index" role="listitem">
            {{ message }}
        </mat-list-item>
    </mat-list>
    <button class="margin-right" mat-flat-button color="warn" (click)="deleteAll()">Borrar</button>
</div>