<p class="card-container">
    <mat-card class="card-width">
        <mat-card-title>Conozca el clima</mat-card-title>
        <br>
        <mat-card-content>
            <form class="" [formGroup]="form" (ngSubmit)="getWeather()">
                <mat-form-field class="example-full-width">
                    <mat-label>Ciudad</mat-label>
                    <input formControlName="city" matInput placeholder="Example: Santiago">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Codigo pais</mat-label>
                    <input formControlName="country" matInput placeholder="Example: CL">
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Buscar</button>
            </form>

        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
    </mat-card>
</p>