<div class="center" *ngIf="spinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!spinner">
    <h2 mat-dialog-title>
        {{ weather.name }}, <small>{{ weather.sys.country }}</small>
    </h2>
    <mat-dialog-content class="mat-typography">
        <h3 mat-dialog-title>Information</h3>
        <mat-divider></mat-divider>
        <p>Humedad: {{ weather.main.humidity }}%</p>
        <p>Temp. maxima: {{ weather.main.temp_max | temperature }}°C</p>
        <p>Temp. minima: {{ weather.main.temp_min | temperature }}°C</p>
        <p>Velocidad: {{ weather.wind.speed }} Kmh</p>
        <p>Latitud: {{ weather.coord.lat }}''</p>
        <p>Longitud: {{ weather.coord.lon }}''</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Aceptar</button>
    </mat-dialog-actions>
</div>